@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
 

  cursor: url("./asets/icons8-cursor-48.png") ,auto; 


}
* {
  font-family: "Roboto", sans-serif;
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #00a6ff #272e31; /* thumb color, track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Vertical scrollbar */
  height: 3px; /* Horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #272e31; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00a6ff; /* Thumb color */
}

/* Fallback for non-WebKit browsers */
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}



body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

 :root {

    line-height: 1.5;
    font-weight: 400;
    --sb-track-color: #272e31;
  --sb-thumb-color: #00a6ff;
  --sb-size: 3px;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #161616;
  
    font-synthesis: none;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --text: #212529;
    --background: #dddcdc;
    --primary: #10afff;
    --secondary: #205671;
    --accent: #ececec;
  }
.dark {
  --text: #ffffff;
  --background: #13131a;
  --primary: #05bcff;
  --secondary: #47c2ff;
  --accent: #198cab;
}
.text-gray-300 {
  stroke: #e2e8f0; /* Light gray */
}

.text-blue-500 {
  stroke: #3b82f6; /* Blue */
}

a {
  cursor: url("./asets/icons8-cursor-48.png"), pointer;
}

.my-responsive-container {
    @apply flex flex-col justify-between mx-3 gap-3   xl:flex-row   ;
}

.blinking-cursor:after{
	content: '|';
	color: #00C4FF;
	animation: blink 1s step-start infinite;
}
@keyframes blink {
	50%{
		opacity: 0;
	}
	
}


.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--primary);
  opacity: 0.7;
  border-radius: 20%;
  filter: blur(240px);
  animation: blob-animation 6s infinite alternate;
}

.blob-left {

  left: 50px;
}

.blob-right {

  right: 60px;
}

@keyframes blob-animation {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}


.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}






.glowing{
	box-shadow: 10px 27px 99px -16px rgba(0,255,239,0.49);
-webkit-box-shadow: 10px 27px 99px -16px rgba(0,255,239,0.49);
-moz-box-shadow: 10px 27px 99px -16px rgba(0,255,239,0.49);
}



.shadow{
	box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}