@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("./asets/icons8-cursor-48.png") ,auto; 
  background-color: #161616;
  --text: #000000;
  --background: #eeeded;
  --primary: #00b7fa;
  --secondary: #96dbfd;
  --accent: #00eb14;
}

a {
  cursor: url("./asets/icons8-cursor-48.png"), pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
}
.my-responsive-container {
    @apply flex flex-col justify-between mx-3 gap-3   xl:flex-row   ;
}

.blinking-cursor:after{
	content: '|';
	color: #00C4FF;
	animation: blink 1s step-start infinite;
}
@keyframes blink {
	50%{
		opacity: 0;
	}
	
}

.blob {
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--primary);
  opacity: 0.7;
  border-radius: 50%;
  filter: blur(240px);
  animation: blob-animation 6s infinite alternate;
}

.blob-left {

  left: 50px;
}

.blob-right {

  right: 60px;
}

@keyframes blob-animation {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.1);
  }
}


.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}






.glowing{
	box-shadow: 10px 27px 99px -16px rgba(0,255,239,0.49);
-webkit-box-shadow: 10px 27px 99px -16px rgba(0,255,239,0.49);
-moz-box-shadow: 10px 27px 99px -16px rgba(0,255,239,0.49);
}



.shadow{
	box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}